/* use padding instead of margin! */

body {
  font-size: 1.5em;
  font-family: "arial", sans-serif;
  line-height: 180%;
  margin: 1px;
}

.description {
  background-color: rgba(255, 255, 255, 0.75);
}

#mainwrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 9999px;
  height: 3259px;
  background-image: url("../images/thinsycamore.jpg");
}

.title {
  text-align: center;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.75);
}

.container {
  padding: 0 !important;
  max-width: 999999px !important;
}

.active,
.title:hover {
  background-color: rgba(102, 102, 102, 0.75);
  color: white;
}

.banner {
  position: absolute;
  top: -9999999px;
  right: -9999999px;
}

#navigation {
  height: 400px;
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
}
